SPARQLWrapper==1.6.4
Twisted==15.2.1
enum34==1.0.4
gevent==1.0.2
greenlet==0.4.7
html5lib==0.999999
isodate==0.5.1
py2neo==2.0.7
pyasn1==0.1.8
pyasn1-modules==0.0.6
pyparsing==2.0.3
rdflib==4.2.0
-e git+git@gitlab.local:rho_2105/rhobot.git@b1d7d9c8abb6aaa21e940b869ff67be68d7ef8f4#egg=rhobot-master
six==1.9.0
sleekxmpp==1.3.1
wsgiref==0.1.2
zope.interface==4.1.2
